﻿@page "/assigned-mentorships/create"

<h1 class="title">Asignar mentoría</h1>
<Loading IsLoading="IsLoading">
    <div class="box">
        <StatusMessage
            OnClear="@ClearErrorMessage" 
            Message="@_errorMessage"
            Color="danger" IsLight="true" />
        <EditForm Model="_model" OnValidSubmit="Submit">
            <ValidationSummary/>
            <DataAnnotationsValidator/>
            <div class="field">
                <label>Área de mentoría</label>
                <div class="control">
                    <div class="select">
                        <InputSelect @bind-Value="SelectedMentorshipArea">
                            @foreach (var a in _mentorshipAreas)
                            {
                                <option value="@a.Id">@a.Nombre</option>
                            }
                        </InputSelect>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Docente</label>
                <div class="control">
                    <div class="select">
                        <InputSelect @bind-Value="_model.DocenteCedula">
                            @foreach (var t in _teachers)
                            {
                                <option value="@t.Cedula">@t.Nombre</option>
                            }
                        </InputSelect>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Estudiante</label>
                <div class="control">
                    <div class="select">
                        <InputSelect @bind-Value="_model.EstudianteCedula">
                            @foreach (var s in _students)
                            {
                                <option value="@s.Cedula">@s.Nombre</option>
                            }
                        </InputSelect>
                    </div>
                </div>
            </div>
            <button class="button is-primary">Asignar</button>
        </EditForm>
    </div>
</Loading>
