﻿@page "/assigned-mentorships/delete/{mentorshipAreaId:int}/{teacherId}/{studentId}"

<h1 class="title">Eliminar mentoría</h1>

@if (_model != null)
{
    <p>¿Está seguro que desea eliminar la mentoría entre @_model.Docente.Nombre, @_model.Estudiante.Nombre en el área @_model.AreaMentoria.Nombre?</p>
    <br>
    <div class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <button @onclick="Redirect" class="button is-light">Cancelar</button>
            </div>
            <div class="level-item">
                <button @onclick="DeleteModel" class="button is-danger">Borrar</button>
            </div>
        </div>
    </div>
}
else
{
    <p class="has-text-weight-bold has-text-danger">No se encontró la mentoría solicitada.</p>
}
