﻿@page "/assigned-mentorships"

<h1 class="title">Listado de mentorías asignadas</h1>
<Loading IsLoading="_mentorships == null">
    @if (_mentorships.Count > 0)
    {
        <div class="columns is-centered">
            <div class="column">
                <div class="table-container">
                    <table class="table has-text-centered is-fullwidth">
                        <thead>
                        <tr>
                            <th>Nombre docente</th>
                            <th>Nombre estudiante</th>
                            <th>Área de mentoría</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var m in _mentorships)
                        {
                            <tr>
                                <td>@m.Docente.Nombre</td>
                                <td>@m.Estudiante.Nombre</td>
                                <td>@m.AreaMentoria.Nombre</td>
                                <td>
                                    <a href="@($"assigned-mentorships/delete/{m.AreaMentoriaId}/{m.DocenteCedula}/{m.EstudianteCedula}")"
                                       class="button is-danger is-light">
                                        Borrar
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
    }
    else
    {
        <p class="has-text-weight-bold has-text-danger">No hay ninguna mentoría asignada.</p>
        <br>
    }
    <div class="has-text-centered">
        <a href="assigned-mentorships/create" class="button is-primary">Asignar mentoría</a>
    </div>
</Loading>
