﻿@page "/mentorship-areas/create"

<h1 class="title">Nueva área de mentoría</h1>
<div class="box">
    <EditForm Model="_model" OnValidSubmit="Submit">
        <ValidationSummary /> 
        <DataAnnotationsValidator />
        <div class="columns is-gapless">
            <div class="column is-8">
                <div class="field">
                    <label>Nombre</label>
                    <InputText class="input" @bind-Value="_model.Nombre" />
                </div>
            </div>
        </div>
        <div class="columns is-gapless">
            <div class="column is-8">
                <div class="field">
                    <label>Descripción</label>
                    <InputText class="input" @bind-Value="_model.Descripcion" />
                </div>
            </div>
        </div>
        <button class="button is-primary">Guardar</button>
    </EditForm>
</div>