﻿@page "/mentorship-areas/delete/{id:int}"

<h1 class="title">Eliminar área de mentoría</h1>

<StatusMessage
    OnClear="@ClearErrorMessage" 
    Message="@_errorMessage"
    Color="danger" IsLight="true" />

@if (_model == null)
{
    <p class="has-text-weight-bold has-text-danger">No se encontró el área de mentoría solicitada.</p>
}
else if (String.IsNullOrEmpty(_errorMessage))
{
    <p>¿Está seguro que desea eliminar el área de mentoría @_model.Nombre?</p>
    <br>
    <div class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <button @onclick="Redirect" class="button is-light">Cancelar</button>
            </div>
            <div class="level-item">
                <button @onclick="DeleteModel" class="button is-danger">Borrar</button>
            </div>
        </div>
    </div>
}
else
{
    <button @onclick="Redirect" class="button is-light">Regresar</button>
}
