﻿@page "/mentorship-areas/edit/{id:int}"

<h1 class="title">Actualizar área de mentoría</h1>
@if (_model != null)
{
    <div class="box">
        <EditForm Model="_model" OnValidSubmit="Submit">
            <ValidationSummary /> 
            <DataAnnotationsValidator />
            <div class="field">
                <label>Nombre</label>
                <InputText class="input" @bind-Value="_model.Nombre" />
            </div>
            <div class="field">
                <label>Descripción</label>
                <InputText class="input" @bind-Value="_model.Descripcion" />
            </div>
            <button class="button is-primary">Guardar</button>
        </EditForm>
    </div>
}
else
{
    <p class="has-text-weight-bold has-text-danger">No se encontró el área de mentoría solicitada.</p>
}