﻿@page "/mentorship-areas"

<h1 class="title">Listado de áreas de mentoría</h1>
<Loading IsLoading="_mentorships == null">
    @if (_mentorships.Count > 0)
    {
        <div class="columns is-centered">
            <div class="column">
                <div class="table-container">
                    <table class="table has-text-centered is-fullwidth">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var m in _mentorships)
                        {
                            <tr>
                                <td>@m.Id</td>
                                <td>@m.Nombre</td>
                                <td>@m.Descripcion</td>
                                <td>
                                    <a href="@($"mentorship-areas/edit/{m.Id}")" class="button is-info is-light">
                                        Editar
                                    </a>
                                </td>
                                <td>
                                    <a href="@($"mentorship-areas/delete/{m.Id}")" class="button is-danger is-light">
                                        Borrar
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
    }
    else
    {
        <p class="has-text-weight-bold has-text-danger">No hay ningun área de mentoría registrada.</p>
    }
    <div class="has-text-centered">
        <a href="mentorship-areas/create" class="button is-primary">Crear nuevo</a>
    </div>
</Loading>
