﻿@page "/"

<h1 class="title">Examen 1 - Ingeniería de software</h1>
<p class="subtitle">Erik Kühlmann Salazar</p>

<div class="columns is-desktop is-centered">
    <div class="column">
        <div class="notification home-card">
            <div class="level">
                <div class="title">
                    <span class="icon">
                        <i class="fas fa-book"></i>
                    </span>
                    <h3 class="subtitle is-4">
                        Areas de mentoría
                    </h3>
                </div>
            </div>
            Puede hacer click <a href="mentorship-areas">aquí</a> para administrar áreas de mentoría.
        </div>
    </div>
    <div class="column">
        <div class="notification home-card">
            <div class="title">
                <span class="icon">
                    <i class="fas fa-graduation-cap"></i>
                </span>
                <h3 class="subtitle is-4">
                    Asignación de mentorías
                </h3>
            </div>
            En este <a href="assigned-mentorships">link</a> puede gestionar las mentorías registradas en el sistema, así como agregar nuevas y eliminar mentorías ya asignadas.
        </div>
    </div>
</div>