﻿<nav class="navbar is-info is-spaced" role="navigation">
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <p class="is-size-4">
                UESEMentorship
            </p>
        </a>
        <a role="button" class="navbar-burger burger" @onclick="ToggleNavBar">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    
    
    <div class="navbar-menu @NavbarMenuClass">
        <div class="navbar-start">
            <NavLink class="navbar-item" href="/mentorship-areas" Match="NavLinkMatch.All" ActiveClass="is-active">
                Áreas de mentoría
            </NavLink>
            <NavLink class="navbar-item" href="/assigned-mentorships" Match="NavLinkMatch.All" ActiveClass="is-active">
                Asignar mentoría
            </NavLink>
        </div>
    </div>
</nav>
