﻿    @if (!String.IsNullOrEmpty(Message))
    {
        <div>
            <div class="notification @CssClass">
                <button class="delete" @onclick="ClearErrorMessage"></button>
                @Message
            </div>  
        </div>
        <br>
    }
